---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import landingImg from '../img/landing.jpg';
import shirtImg from '../img/home/shirt.png';
import paperImg from '../img/home/paper.png';
import signImg from '../img/home/sign.png';
import vanImg from '../img/home/van.png';
import '../styles/pages/home.scss';
const frontmatter = {
	title: '',
	description: 'Local Hartland Printing and Sign Shop, Banners, Vehicle Graphics, Apparel, Oconomowoc, Pewaukee, Delafield, Waukesha, Milwaukee, Wisconsin.'
}
---

<Layout frontmatter={frontmatter}>
	<div class="row promo-row">
			<Image src={landingImg} alt="Execu Pring landing" />
	</div>
	<h1 class="row">YOUR LOCAL FULL SERVICE PRINTER!</h1>

	<div class="row services-row">
		<a class="service service-apparel">
			<Image src={shirtImg} width={240} alt="Services - Apparel" />
			<label>Apparel</label>
			<p>
				Screen Printing, Embroidery, or Heat Press, however you need the job done, we can do it. T-shirts, hats, towels, or even can coozies!
			</p>
		</a>

		<a class="service service-printing">
			<Image src={paperImg} width={240} alt="Service - Printing" />
			<label>Printing</label>
			<p>
				Business cards, invitations, brochures, tickets, or even just copies. We have you covered on all your paper media!
			</p>
		</a>

		<a class="service service-signs">
			<Image src={signImg} width={240} alt="Service - Signs & Banners" />
			<label>Signs & Banners</label>
			<p>
				We have a large variety of options for your advertising needs. We can print on nearly any material up to 2 inches thick.
			</p>
		</a>

		<a class="service service-vehicle">
			<Image src={vanImg} width={240} alt="Service - Vehicle Graphics" />
			<label>Vehicle Graphics</label>
			<p>
				We do everything from spot color cut vinyl to even full color printed vehicle wraps!
			</p>
		</a>
	</div>
</Layout>

